<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="homelibrary.main.MainApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>