<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Library | Account Settings</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">Home Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">Notifications</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/accountsettings">Account Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/bookshelfsettings">Bookshelf Settings</a></li>
                        <li><a class="dropdown-item" href="#">Add Book to Bookshelf</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="container my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Account Settings</h2>
            <form>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" value="JohnDoe247" disabled>
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput" value="johndoe@example.com" disabled>
                </div>
<!--                avatar-->
                <div class="mb-3">
                    <label for="avatarInput" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="avatarInput">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter your new password">
                </div>
                <div class="mb-3">
                    <label for="confirmPasswordInput" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm your new password">
                </div>
                <div class="mb-3">
                    <label for="statusInput" class="form-label">Status</label>
                    <textarea class="form-control" id="statusInput" rows="3" placeholder="Enter your status">I love reading books!</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer mt-3 py-3">
    <div class="container">
        <span class="text-muted">Copyright © 2024 Home Library</span>
    </div>
</footer>


<script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>

</html>